.login {
  width: 100%;
}
.login__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login__container h2 {
  color: rgb(243, 243, 243);
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.login__form {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__role {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
}
.login__form h2 {
  font-size: 16px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 500;
}
.login__control {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  background-color: rgb(233, 233, 232);
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10px;
}
.login__btn {
  width: 50%;
  max-width: 300px;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(209, 209, 206);
  cursor: pointer;
  transition: all ease 0.3s;
}
.login__btn:hover {
  color: rgb(129, 129, 107);
  border: none;
}
.login__control label {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
.login__control input {
  padding: 5px;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}
::-webkit-input-placeholder {
  /* Edge */
  color: rgb(129, 129, 107);
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(129, 129, 107);
  letter-spacing: 1px;
}

::placeholder {
  color: rgb(129, 129, 107);
  letter-spacing: 1px;
}
.form__footer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.form__footer h2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 10px;
  text-decoration: underline;
}
.form__footer span {
  color: white;
  text-decoration: underline;
}
